// ╔═════════════════════════════════════════════════════════════╗
// ║															 ║
// ║     ██████╗██╗██╗████████╗ ██╗       ██╗ █████╗ ██╗         ║
// ║    ██╔════╝██║██║╚══██╔══╝ ██║  ██╗  ██║██╔══██╗██║         ║
// ║    ╚█████╗ ██║██║   ██║    ╚██╗████╗██╔╝███████║██║         ║
// ║     ╚═══██╗██║██║   ██║     ████╔═████║ ██╔══██║██║         ║
// ║    ██████╔╝██║██║   ██║     ╚██╔╝ ╚██╔╝ ██║  ██║███████╗    ║
// ║    ╚═════╝ ╚═╝╚═╝   ╚═╝      ╚═╝   ╚═╝  ╚═╝  ╚═╝╚══════╝    ║
// ║															 ║
// ╚═════════════════════════════════════════════════════════════╝


#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>


&soft_off {
	hold-time-ms = <5000>; 
};
&caps_word { continue-list = <BACKSPACE DELETE UNDER>; };


/ {
	behaviors {
        td_scw: tap_dance_shift_caps_word {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&sk LSHFT>, <&caps_word>;
        };
		td_ccs: tap_dance_ctrl_ctrl_shift {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LCTRL>, <&sk LC(LSHFT)>;
        };
		td_l1: tap_dance_layer_1 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mo 1>, <&tog 1>;
        };
		grdel: grave_delete {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp BSPC>, <&kp DELETE>;
            mods = <(MOD_LSFT)>;
        };
    };
	keymap {
		compatible = "zmk,keymap";
		default_layer {
// DONE
// ╔════════════════════════════════════════════════════════════════════════════════════════════════════════════╗
// ║																							                ║
// ║   ┌───────┬───────┬───────┬───────┬───────┬───────┐    ┌───────┬───────┬───────┬───────┬───────┬───────┐   ║     
// ║   │  ESC  │   Q   │   W   │   E   │   R   │   T   │    │   Y   │   U   │   I   │   O   │   P   │  DEL  │   ║
// ║   ├───────┼───────┼───────┼───────┼───────┼───────┤    ├───────┼───────┼───────┼───────┼───────┼───────┤   ║
// ║   │  CMD  │   A   │   S   │   D   │   F   │   G   │    │   H   │   J   │   K   │   L   │   ;   │   '   │   ║
// ║   ├───────┼───────┼───────┼───────┼───────┼───────┤    ├───────┼───────┼───────┼───────┼───────┼───────┤   ║
// ║   │  SCW  │   Z   │   X   │   C   │   V   │   B   │    │   N   │   M   │   ,   │   .   │   /   │  SL3  │   ║
// ║   └───────┴───────┴───────┼───────┼───────┼───────┤    ├───────┼───────┼───────┼───────┴───────┴───────┘   ║
// ║                           │  ML2  │  DL1  │  SPC  │    │  ENT  │  CCS  │  ALT  │					        ║
// ║       	     		       └───────┴───────┴───────┘    └───────┴───────┴───────┘                           ║
// ║																											║
// ╚════════════════════════════════════════════════════════════════════════════════════════════════════════════╝

			bindings = <
				&kp ESC   &kp Q &kp W &kp E &kp R   &kp T    &kp Y &kp U  &kp I     &kp O   &kp P    &grdel
				&kp LCMD  &kp A &kp S &kp D &kp F   &kp G    &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
				&td_scw   &kp Z &kp X &kp C &kp V   &kp B    &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &sl 3
							       &mo 2 &td_l1 &kp SPACE    &kp RET &td_ccs &kp LALT
			>;
		};


		lower_layer {
// DONE
// ╔════════════════════════════════════════════════════════════════════════════════════════════════════════════╗
// ║					     																	                ║
// ║   ┌───────┬───────┬───────┬───────┬───────┬───────┐    ┌───────┬───────┬───────┬───────┬───────┬───────┐   ║
// ║   │  ESC  │   1   │   2   │   3   │   4   │   5   │    │   6   │   7   │   8   │   9   │   0   │  DEL  │   ║
// ║   ├───────┼───────┼───────┼───────┼───────┼───────┤    ├───────┼───────┼───────┼───────┼───────┼───────┤   ║
// ║   │  CMD  │ PSCRN │  INS  │       │  TAB  │  ML4  │    │  LFT  │  DOWN │   UP  │  RGT  │       │       │   ║
// ║   ├───────┼───────┼───────┼───────┼───────┼───────┤    ├───────┼───────┼───────┼───────┼───────┼───────┤   ║
// ║   │ SHIFT │  SL3  │  TL5  │       │       │ CAPS  │    │  HOME │ PG_DN │ PG_UP │  END  │       │  TL1  │   ║
// ║   └───────────────────────┼───────┼───────┼───────┤    ├───────┼───────┼───────┼───────┴───────┴───────┘   ║
// ║                           │  ML2  │  ML1  │  SPC  │    │  ENT  │  CTRL │  ALT  │					        ║
// ║		     		       └───────┴───────┴───────┘    └───────┴───────┴───────┘                           ║
// ║																							                ║
// ╚════════════════════════════════════════════════════════════════════════════════════════════════════════════╝

			bindings = <
				&kp ESC   &kp N1    &kp N2   &kp N3 &kp N4   &kp N5       &kp N6   &kp N7    &kp N8    &kp N9    &kp N0 &grdel
				&kp LCMD  &kp PSCRN &kp INS  &none  &kp TAB  &mo 4        &kp LEFT &kp DOWN  &kp UP    &kp RIGHT &none  &none
				&kp LSHFT &sl 3     &tog 5   &none  &none    &kp CAPS     &kp HOME &kp PG_DN &kp PG_UP &kp END   &none  &tog 1
							                    &mo 2 &mo 1 &kp SPACE     &kp RET  &kp LCTRL &kp LALT
			>;
		};


		rise_layer {
// DONE
// ╔════════════════════════════════════════════════════════════════════════════════════════════════════════════╗
// ║																						                    ║
// ║   ┌───────┬───────┬───────┬───────┬───────┬───────┐    ┌───────┬───────┬───────┬───────┬───────┬───────┐   ║
// ║   │  ESC  │   !   │   @   │   #   │   $   │   %   │    │   ^   │   &   │   (   │   )   │   *   │  DEL  │   ║
// ║   ├───────┼───────┼───────┼───────┼───────┼───────┤    ├───────┼───────┼───────┼───────┼───────┼───────┤   ║
// ║   │       │       │       │       │       │       │    │   -   │   =   │   [   │   ]   │   \   │   `   │   ║
// ║   ├───────┼───────┼───────┼───────┼───────┼───────┤    ├───────┼───────┼───────┼───────┼───────┼───────┤   ║
// ║   │ SHIFT │       │       │       │       │       │    │   _   │   +   │   {   │   }   │   |   │   ~   │   ║
// ║   └───────┴───────┴───────┼───────┼───────┼───────┤    ├───────┼───────┼───────┼───────┴───────┴───────┘   ║
// ║                           │  ML2  │       │  SPC  │    │  ENT  │  CTRL │  ALT  │					        ║
// ║   		     		       └───────┴───────┴───────┘    └───────┴───────┴───────┘                           ║
// ║																						                    ║
// ╚════════════════════════════════════════════════════════════════════════════════════════════════════════════╝

			bindings = <
				&kp ESC   &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT     &kp CARET &kp AMPS  &kp LPAR &kp RPAR &kp STAR &grdel
				&none     &none    &none  &none    &none    &none         &kp MINUS &kp EQUAL &kp LBKT &kp RBKT &kp BSLH &kp GRAVE
				&kp LSHFT &none    &none  &none    &none    &none         &kp UNDER &kp PLUS  &kp LBRC &kp RBRC &kp PIPE &kp TILDE
					                            &mo 2 &none &kp SPACE     &kp RET &kp LCTRL &kp LALT
			>;
		};

		fn_layer {
// DONE 
// ╔════════════════════════════════════════════════════════════════════════════════════════════════════════════╗
// ║									  								                                        ║
// ║   ┌───────┬───────┬───────┬───────┬───────┬───────┐    ┌───────┬───────┬───────┬───────┬───────┬───────┐   ║
// ║   │       │  f1   │  f2   │  f3   │  f4   │  f5   │    │  f6   │  f7   │  f8   │  f9   │  f10  │       │   ║
// ║   ├───────┼───────┼───────┼───────┼───────┼───────┤    ├───────┼───────┼───────┼───────┼───────┼───────┤   ║
// ║   │       │  f11  │  f12  │  f13  │  f14  │  f15  │    │  f16  │  f17  │  f18  │  f19  │  f20  │       │   ║
// ║   ├───────┼───────┼───────┼───────┼───────┼───────┤    ├───────┼───────┼───────┼───────┼───────┼───────┤   ║
// ║   │       │  f21  │  f22  │  f23  │  f24  │       │    │       │       │       │       │       │       │   ║
// ║   └───────┴───────┴───────┼───────┼───────┼───────┤    ├───────┼───────┼───────┼───────┴───────┴───────┘   ║
// ║                           │       │       │       │    │       │       │       │					        ║
// ║	    		           └───────┴───────┴───────┘    └───────┴───────┴───────┘                           ║
// ║																			                                ║
// ╚════════════════════════════════════════════════════════════════════════════════════════════════════════════╝

			bindings = <
				&none &kp F1  &kp F2  &kp F3  &kp F4  &kp F5     &kp F6  &kp F7  &kp F8  &kp F9  &kp F10 &none
				&none &kp F11 &kp F12 &kp F13 &kp F14 &kp F15    &kp F16 &kp F17 &kp F18 &kp F19 &kp F20 &none
				&none &kp F21 &kp F22 &kp F23 &kp F24 &none      &none   &none   &none   &none   &none   &none 
					                        &none &none &none    &none &none &none 
			>;
		};

		sys_settings_layer {
// DONE
// ╔════════════════════════════════════════════════════════════════════════════════════════════════════════════╗
// ║																		                                    ║
// ║   ┌───────┬───────┬───────┬───────┬───────┬───────┐    ┌───────┬───────┬───────┬───────┬───────┬───────┐   ║
// ║   │ C_PWR │ C_RST │       │       │       │       │    │ BR_MX │ BR_UP │ BR_AT │ BR_DN │ BR_MN │       │   ║
// ║   ├───────┼───────┼───────┼───────┼───────┼───────┤    ├───────┼───────┼───────┼───────┼───────┼───────┤   ║
// ║   │ C_LCK │ C_LGO │       │       │       │       │    │       │ VL_UP │ MUTE  │ VL_DN │       │       │   ║
// ║   ├───────┼───────┼───────┼───────┼───────┼───────┤    ├───────┼───────┼───────┼───────┼───────┼───────┤   ║
// ║   │ C_SLP │       │       │       │       │       │    │       │  PRV  │  PP   │  NXT  │       │       │   ║
// ║   └───────┴───────┴───────┼───────┼───────┼───────┤    ├───────┼───────┼───────┼───────┴───────┴───────┘   ║
// ║                           │       │       │       │    │       │       │       │					        ║
// ║ 	    	 	           └───────┴───────┴───────┘    └───────┴───────┴───────┘                           ║
// ║																		                                    ║
// ╚════════════════════════════════════════════════════════════════════════════════════════════════════════════╝

			bindings = <
				&kp C_PWR     &kp C_RESET     &none &none &none &none      &kp C_BRI_MAX &kp C_BRI_UP &kp C_BRI_AUTO &kp C_BRI_DN &kp C_BRI_MIN &none 
				&kp C_AL_LOCK &kp C_AL_LOGOFF &none &none &none &none      &none         &kp C_VOL_UP &kp C_MUTE     &kp C_VOL_DN &none         &none 
				&kp C_SLEEP   &none           &none &none &none &none      &none         &kp  C_PREV  &kp  C_PP      &kp  C_NEXT  &none         &none
					                          &none &none &none      &none &none &none 
			>;
		};


		kb_settings_layer {
// DONE
// ╔════════════════════════════════════════════════════════════════════════════════════════════════════════════╗
// ║																		                                    ║
// ║   ┌───────┬───────┬───────┬───────┬───────┬───────┐    ┌───────┬───────┬───────┬───────┬───────┬───────┐   ║
// ║   │  CLR  │ SEL_1 │ SEL_2 │ SEL_3 │ SEL_4 │ SEL_5 │    │       │       │       │       │       │  SFT  │   ║
// ║   ├───────┼───────┼───────┼───────┼───────┼───────┤    ├───────┼───────┼───────┼───────┼───────┼───────┤   ║
// ║   │  NXT  │       │       │       │       │       │    │  USB  │       │       │       │       │       │   ║
// ║   ├───────┼───────┼───────┼───────┼───────┼───────┤    ├───────┼───────┼───────┼───────┼───────┼───────┤   ║
// ║   │  PRV  │ DIS_1 │ DIS_2 │ DIS_3 │ DIS_4 │ DIS_5 │    │  BLE  │       │       │       │       │       │   ║
// ║   └───────┴───────┴───────┼───────┼───────┼───────┤    ├───────┼───────┼───────┼───────┴───────┴───────┘   ║
// ║                           │ CLR_A │       │  EXT  │    │       │       │       │				            ║
// ║ 	     		           └───────┴───────┴───────┘    └───────┴───────┴───────┘                           ║
// ║																									        ║
// ╚════════════════════════════════════════════════════════════════════════════════════════════════════════════╝

			bindings = <
				&bt BT_CLR &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4         &none        &none &none &none &none &soft_off
				&bt BT_NXT &none         &none         &none         &none         &none                &out OUT_USB &none &none &none &none &none
				&bt BT_PRV &bt BT_DISC 0 &bt BT_DISC 1 &bt BT_DISC 2 &bt BT_DISC 3 &bt BT_DISC 4        &out OUT_BLE &none &none &none &none &none
				                                                     &bt BT_CLR_ALL &none &tog 5        &none &none &none
			>;
		};



	};
};
